<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/admin_style.css">
    <title>航空公司管理</title>
</head>
<body>
<div class="head">
    <h1>后台管理</h1>
    <div class="url">
        <ul class="menu">
            <a class="menu-item" href="{{url_for('web.index')}}"><span>网站首页</span></a>
            <a class="menu-item" href="{{ url_for('admin.login') }}"><span>退出登录</span></a>
        </ul>
    </div>
</div>
<div class="left">
    <div class="left-menu">
        <div class="h5head">
            <h2>管理菜单</h2>
        </div>
        <div class="admin_manage">
            <div class="h3head">
                <h3>管理员管理</h3>
            </div>
            <div class="admin_manage_content">
                <ul class="admin_manage_list">
                    <a class="admin_manage_item" href="{{ url_for('admin.add_admin') }}"><span>添加管理员</span></a>
                    <a class="admin_manage_item" href="{{ url_for('admin.admin_manage',admin_id=admin_id) }}"><span>管理员管理</span></a>
                </ul>
            </div>
        </div>
        <div class="business_manage">
            <div class="h6head">
                <h3>机票管理</h3>
            </div>
            <div class="business_menu">
                <ul class="business_menu_list">
                    <a class="business_menu_item" href="{{ url_for('admin.notice_add',admin_id=admin_id) }}"><span>添加公告</span></a>
                    <a class="business_menu_item" href="{{ url_for('admin.test') }}"><span>司机管理</span></a>
{#                    <a class="business_menu_item" href="{{ url_for('admin.test') }}"><span>机票信息管理</span></a>#}
{#                    <a class="business_menu_item" href="{{ url_for('admin.test') }}"><span>航班信息查询</span></a>#}
                    <a class="business_menu_item" href="{{ url_for('admin.manage_order',admin_id=admin_id) }}"><span>订单管理</span></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="company_manage">
        <table style="margin: 20px;width: 60%">
            <tr>
                <td>发布人员</td>
                <td>公告信息</td>#}
            </tr>
            {% for item in companys %}
                <tr>
                <td>{{ item.m_id }}</td>
                <td>{{ item.n_content }}</td>
                </tr>
            {% endfor %}
        {% for msg in get_flashed_messages()  %}
        <p style="color: #cd0a0a">{{ msg }}</p>
        {% endfor %}

        </table>
    </div>
    <div class="company_add">
        <form action="{{ url_for('admin.notice_add',admin_id=admin_id) }}" method="post">
            <table>
                <tr>
                    <td>{{ form.m_id.label }}</td>   <td>{{ form.m_id }}</td>
                </tr>
                <tr>
                    <td>{{ form.n_content.label }}</td>  <td>{{ form.n_content }}</td>
                </tr>
            </table>
            <input type="submit" value="提交">
        </form>
    </div>
</div>



  <!--script for portfolio-->
  <script src="../../static/jquery.min.js"> </script>
  <script src="../../static/easyResponsiveTabs.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#horizontalTab').easyResponsiveTabs({
              type: 'default', //Types: default, vertical, accordion
              width: 'auto', //auto or any width like 600px
              fit: true   // 100% fit in a container
          });
      });
  </script>

  <link rel="stylesheet" href="../../static/jquery-ui.css" />
  <script src="../../static/jquery-ui.js"></script>
  <
  <script>
      $(function() {
          $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
      });
  </script>

  <script>
      $('.value-plus').on('click', function(){
          var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
          divUpd.text(newVal);
      });

      $('.value-minus').on('click', function(){
          var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
          if(newVal>=1) divUpd.text(newVal);
      });
  </script>

  <script>
	$(document).ready(function () {
		size_li = $("#myList li").size();
		x=1;
		$('#myList li:lt('+x+')').show();
		$('#loadMore').click(function () {
			x= (x+1 <= size_li) ? x+1 : size_li;
			$('#myList li:lt('+x+')').show();
		});
		$('#showLess').click(function () {
			x=(x-1<0) ? 1 : x-1;
			$('#myList li').not(':lt('+x+')').hide();
		});
	});
</script>


</body>
</html>
